##############################
# Machine Learning Gitignore #
##############################

{% include "TabularFiles.gitignore" %}
{% include "ArchiveFiles.gitignore" %}
{% include "ImageFiles.gitignore" %}
{% include "ReportFiles.gitignore" %}
{% include "OS.gitignore" %}

