repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

repos:
  - repo: local
    hooks:
      - id: render
        name: Render Jinja Templates
        entry: bash -c 'make render'
        language: system
        types: [file]
        pass_filenames: false
